@use "../../../styles/fonts.scss" as font;

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 10px;
  text-align: center;
  flex-direction: column;
  background-color: white;
  border-top: 1px solid #eee;
  box-sizing: border-box;

  p {
    margin: 0;
    font-weight: 700;

    @include font.light-red;
  }
}
