@use "../../../styles/mixins.scss" as mixins;

.button {
  &.negative {
    border: 2px solid rgb(63 81 181);

    @include mixins.button-negative;
  }

  &.neutral {
    border: 2px solid rgb(63 81 181);

    @include mixins.button-neutral;
  }

  &.positive {
    border: 2px solid rgb(63 81 181);

    @include mixins.button-positive;
  }
}
