@mixin light-red {
  color: rgb(224 0 0 / 35%);
  font-size: 12px;
}

@mixin light-grey {
  color: rgb(106 106 106);
  font-size: 14px;
}

@mixin empty-content-message {
  color: rgb(255 255 255);
  font-weight: 800;
  text-shadow: 1px 2px rgb(30 39 93);
}

@mixin font-description {
  font-size: 14px;
  font-weight: 300;
}
