@mixin light-red {
  color: rgb(224 0 0 / 35%);
  font-size: 12px;
}

@mixin light-grey {
  color: rgb(106 106 106);
  font-size: 14px;
}

@mixin empty-content-message {
  color: rgb(255 255 255);
  font-weight: 400;
  text-shadow: 2px 2px rgb(30 39 93);
}
