@use "../../../styles/mixins.scss" as mixins;

button {
  @include mixins.button-hover;
}

.buttons-block {
  height: 50px;

  &.twice {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: row;

    h1 {
      text-align: center;
    }

    button {
      width: 100%;
      height: 100%;
    }
  }

  &.alone {
    display: flex;
    width: 100%;
    height: 100%;

    button {
      width: 100%;
      height: 100%;
    }
  }
}

.button {
  &.negative {
    @include mixins.button-negative;
  }

  &.neutral {
    @include mixins.button-neutral;
  }

  &.positive {
    @include mixins.button-positive;
  }
}
