@use "@shared/styles/mixins.scss" as mixins;

// Планшеты
@include mixins.mobile {
  .card-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

// Планшеты
@include mixins.tablet {
  .card-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

// Десктоп
@include mixins.desktop {
  .card-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}
